h2{
    cursor: pointer;
}
.collapse-icon {
    transition: transform 0.3s ease; /* Adiciona uma transição suave */
}

.collapse-icon.rotated {
    transform: rotate(180deg); /* Gira o ícone em 180 graus */
}